$basic-white: #f6f7ff;
$special-white: #e0e1ea;
$basic-black: #1f1e25;
$basic-blue: #2c36f2;
$basic-grey: #707c87;

$light-blue: #3841ff;
$dark-blue: #2027b3;

$light-grey: #c1c2ca;

$shadow-black: rgba(25, 26, 31, 0.2);
$pure-black: #000000;
