.button {
  vertical-align: middle;

  background-color: $basic-blue;

  border: 3px solid $basic-blue;
  border-radius: 4px;

  font-style: normal;
  font-weight: 500;
  line-height: 11px;

  color: $basic-white;

  transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;

  cursor: pointer;

  &:hover {
    background-color: $basic-white;
    color: $basic-blue;
  }

  &:active {
    opacity: 0.8;
  }
}
