.history {
  position: relative;
  padding: 40px 70px;

  background-color: $basic-white;
}

.history::before {
  content: "";
  display: block;
  width: 1px;
  position: absolute;
  top: 100px;
  bottom: 88px;
  left: 50%;

  background-color: $light-grey;

  box-shadow: 0 4px 4px rgba($pure-black, 0.25);

  transform: translateX(-50%);
}

.history__title {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 47px;

  color: $basic-black;
}

.history__list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 23px;

  margin-top: 46px;

  list-style: none;
}

.history__item {
  display: flex;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

  color: $basic-black;

  &:nth-child(n + 6) {
    justify-self: end;
  }
}

.history__date {
  width: 91px;
  margin-right: 40px;
}

.history__from {
  position: relative;
  width: 91px;
  margin-right: 53px;
}

.history__from::after {
  content: "";
  display: block;
  width: 41px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: -41px;

  transform: translateY(-50%);

  background-position: center;
  background-size: 41px 18px;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/arrow-to.svg");
}

.history__to {
  width: 117px;
}

.history__button {
  width: 198px;
  padding: 17px 0;
  margin-top: 47px;

  font-size: 16px;
}
